# Introduction to Python (Part Two) 

Welcome to the second half of our Intro to Python tutorial!

## **Table of Contents**


1. Condtional Logic Statements
2. Loops
3. File Input and Output
4. NumPy
5. Pandas
6. Matplotlib

**How to download and use Python** 

The most preferred way is to use Anaconda. https://www.anaconda.com/

It serves a role as a package manager with preinstalled powerful packages such as
* Numpy (Numerical Python)
* Pandas (Python Data Analysis Library)
* Scipy 
* Matplotlib

## 1. **Conditional Logic Statements**

Conditional statements in python can be used for decision making in order to change the behavior of a program as necessary.

### IF statements
* The simplest form of a conditional statement is known as the ' if statement' 
* The general premise is that the interpreter will only run the block of code IF your condition is matched
* A boolean expression is evaluated and if it matches, the code will be executed (remember a boolean is TRUE or FALSE)

In [ ]:
# a very simple example
x=1 # we set the variable to equal 3

if x>2:  
  print('The number is bigger than 2') 
  
# we say that IF x is equal to three
  #THEN print the string 'The number is 3'

The string ' The number is 3' was printed because the boolean expression of 'if x ==3' was true. 

There are some important things to note in the example above:
* The boolean expression starts with an 'if' and ends with a colon (:)
* The statements that follow must be **indented** in order to be a part of the 'if block' and be run under the condition
* It is necessary to use the '==' in the conditional statement
  - This is because '=' is an assignment operator but '==' is a comparison operator

Let's take a look at if the expression is not true:

In [ ]:
x=10 # we set the variable equal to 10

if x==3:
  print('The number is 3')

As you can see, nothing was printed because our boolean expression was not true.

*Create an 'if statement' that IF the variable 'movie' is equal to 'Frozen' print 'Let it Go'.* I will start you off with the variable to be tested.

In [ ]:
movie='Frozen'

if movie == 'Frozen':
  print('Let it Go')

Is there a way to test our boolean expression on one or more outcomes?

**Yess!!** 

We can do this through 'elif' and 'else' statements.

### ELSE statements

* Else statements can be used in conjunction with If statements in order to create an alternative output if our intial boolean expression is not true
* **Pay attention to the syntax (indentation and colon use)**

In [ ]:
# for example
x =3 # we set the variable equal to 3

if x==3:
  print('The number is 3')
else:
  print('The number is not 3')

The number is 3

When x is equal to 3 the else statement is ignored.

Let's take a look at what happens when x is NOT equal to 3.

In [ ]:
x = 10

if x==3:
  print('The number is 3')
else:
  print('The number is not 3')

The number is not 3

In the above example, the if statement was not true, so the interpreter executed the else statement which indicates that the number is not 3. 

What happens if we want to evaluate our code on the basis of more than two conditions? We will use an elif statement.

### ELIF Statements
* Elif is an abbreviation of 'else if.'
* Elif statements combine both if and else statements in order to create more conditions for evaluation. 
* An elif statement can conatin more than one 'elif'
* **Again, pay attention to the syntax**

In [ ]:
# for example
x = 5

if x==3:
  print('The number is 3')
elif x==5:
  print('The number is 5')
elif x==100:
  print('The number is 100')
else:
  print('The number is not 3 or 5')

The number is 5

You can see that the if statement was not true, so the next line of code was executed and since the number was 5, the result was printed.

Let's take a look at what happens if the number is not 3 or 5.

In [ ]:
x = 10

if x==10 and x>5:
  print('The number is 10 and bigger than 5')
elif x==10:
  print('The number is 10')
elif x==10:
  print('Hurray!!!')
else:
  print('The number is not 3 or 5')

The number is 10 and bigger than 5

You can see that the 'if statement' was not true so the interpreter moved to the 'else if' statement which was also not true, then moved to the second 'else if' statement and then finally executed the 'else statement' which was printed.

*Identify and fix the error in the if-elif-else code block below:*

In [ ]:
fruit='pineapple'

if fruit=='orange'
  print('orange')
elif fruit=='tomato':
  print('tomato is a fruit!')
else:
  print('not an orange or tomato')

SyntaxError: ignored

*What will be the output of the following conditonal statement? Make your prediciton BEFORE running the code.*

In [ ]:
x = 2

if x>1:
  print('x is greater than 1')
elif x==4:
  print('x is equal to 4')
else:
  print('x is not 4 or greater than 1')

x is greater than 1

*What about the following statement? Again, make your prediciton BEFORE running the code.*

In [ ]:
x = 0

if x>1:
  print('x is greater than 1')
elif x==4:
  print('x is equal to 4')
else:
  print('x is not 4 or greater than 1')

x is not 4 or greater than 1

## 2. **Loops**

Loops are good for repeating specific commands over every single object of a type or data structure!

### For Loops

A for loop is used to iterate over objects in python. In other words, a loop will perform the same operation on each individual element of an object. 
* loops can be used on **strings, lists, tuples and dictionaries**
* pay attention to the syntax of the for loop; it is similar to that of a conditional statement!
  - especially the indentation!

Let's practice by iterating over a string:

In [ ]:
x='science'
for letter in x:
  print(letter)

s
c
i
e
n
c
e

As you can see, each letter or 'item' of the string 'science' was printed individually. For each 'item' in the string, the interpreter prints it and then loops back to the top and starts with the next letter and keeps going until the string ends.

It is important to note that that word 'item' is arbitrary and could be any variable, for example:

In [ ]:
x='science'
for j in x:
  print(j)

s
c
i
e
n
c
e

When we changed the variable to 'j' it did not change the outcome of the loop.

Remember the list 'my_list' we created earlier? Let's look at that again using a for loop.

In [ ]:
for x in my_list:
  print(x)

1
Hello
52.4
World
True

*Create a for loop that prints out each individual element of your favorite ice cream flavor. Remember that you named this variable your FIRST NAME!*

###For loops with more complexity

It is possible to combine a for loop and a conditional statement:

In [ ]:
# let's look at my_list again

for item in my_list:
  if item=='World':
    print('Out of this World!')
  else:
    print('Not out of this World')

Not out of this World
Not out of this World
Not out of this World
Out of this World!
Not out of this World

*What happens when we combine a for loop and conditional statement?*

It is also possible to create a nested for loop, which is a for loop INSIDE of another for loop:

In [ ]:
x=[1, 2, 3, 4]
y=[2, 4, 6, 2]

for i in x:
  for j in y:
    if i==j:
      print('Equal!')
    else:
      print('Not Equal')

Not Equal
Not Equal
Not Equal
Not Equal
Equal!
Not Equal
Not Equal
Equal!
Not Equal
Not Equal
Not Equal
Not Equal
Not Equal
Equal!
Not Equal
Not Equal

The above code loops through each list simultaneously and compares each element of 'x' to each element of 'y' and prints when it is equal.

###While Loops
While loops are useful for iterating through an object as long as certain requirements are TRUE.

In [ ]:
# for example

x = 1
while x < 7:
  print(x)
  x+=1

1
2
3
4
5
6

The above code prints 'x' as long as it is less than 7. X starts equal to 1 and after each iteration of the loop is increased by +1. Notice that the x+=1 is placed INSIDE of the while loop. Therefore, the while loop goes through 6 iterations before stopping.

*Fix the error in the while loop below:* Note: It will go on forever unless you fix it; need to press the stop button in order to terminate the run.

In [ ]:
x = 1
while x < 7:
  print(x)
  x+=1

1
2
3
4
5
6

## 3. **File Input and Output**

Let's start by writing a file. Here we are writing a message from the instructors to students.

In [ ]:
file1 = open("message.txt", "w") # the "w" indicates write and the "message.txt" will be the name of the file
file1.write("Hello Postbacs, are you enjoying the Introduction to Python workshop so far?")
file1.close()

Now let's open it and see what is looks like!

In [ ]:
file1 = open("message.txt", "r") # the "r" indicated read and, again, the "message.txt" is the name of the file
print(file1.read())
file1.close()

Let's reply to that message with your opinion.

In [ ]:
file2 = open("reply.txt", "w")
file2.write("I am hungry!")
file2.close()

There are other ways you can open and read the message.

In [ ]:
file2 = open("reply.txt", "r")
for line in file2:
    print(line)
file2.close()

## 4. **NumPy**

Numpy (Numerical Python) is a powerful library that allows you to use multidimensional array objects. It is commonly used to process data due to its speed and amazing data storing ways. Let's import numpy as np and see what it is capable of doing.

In [ ]:
import numpy as np

Before starting to dig in, let's review "list" and how it is structured. Here we make a list of floats, integers, and strings.

In [ ]:
list_example = [ 1, "2", 3.0, 4, "5", 6.0, 7, "8", 9.0 ]

In [ ]:
print(list_example)

[1, '2', 3.0, 4, '5', 6.0, 7, '8', 9.0]

Notice how different kinds of data types can co-exist in one list.

In [ ]:
print(list_example[0])
print(type(list_example[0]))

In [ ]:
print(list_example[1])
print(type(list_example[1]))

In [ ]:
print(list_example[2])
print(type(list_example[2]))

Here we make a numpy array of integers.

In [ ]:
numpy_example1 = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
print(numpy_example1[0])
print(type(numpy_example1[0]))

Here we make a numpy array of floats.

In [ ]:
numpy_example2 = np.array([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])

In [ ]:
print(numpy_example2[0])
print(type(numpy_example2[0]))

Notice how only ONE data type can co-exist in a numpy array.

In [ ]:
numpy_example3 = np.array([1, 2.0, 3, 4.0, 5, 6.0, 7, 8.0, 9])

In [ ]:
print(type(numpy_example3[0]))
print(type(numpy_example3[1]))
print(type(numpy_example3[2]))

In [ ]:
numpy_example4 = np.array([1, 2.0, "3", 4.0, 5, 6.0, 7, 8.0, 9])

In [ ]:
print(type(numpy_example4[0]))
print(type(numpy_example4[1]))
print(type(numpy_example4[2]))

Shape of a numpy array is important for storing data as you intend to store it. Notice how reshape changes the shape of a numpy array.

In [ ]:
numpy_example5 = np.arange(1,10,1)

In [ ]:
print(numpy_example5)
print(numpy_example5.shape)

In [ ]:
numpy_example5 = numpy_example5.reshape(1,9)

In [ ]:
numpy_example5

In [ ]:
print(numpy_example5.shape)

In [ ]:
numpy_example5 = numpy_example5.reshape(3,3)

In [ ]:
numpy_example5

Let's create a times table using numpy!

In [ ]:
times_table = np.zeros((9,9))

In [ ]:
times_table[0,:] = np.arange(1,10,1)

In [ ]:
times_table

array([[1., 2., 3., 4., 5., 6., 7., 8., 9.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
times_table[:,0] = np.arange(1,10,1)

In [ ]:
times_table

In [ ]:
for i in range(0,9):
    for j in range(0,9):
        times_table[i,j] = times_table[i,0] * times_table[j,0]

In [ ]:
times_table

## 5. **Pandas**

DataFrame is also a software library like Numpy that is used for data manipulation and analysis. Let's go over what the main difference between Numpy and Pandas are.

In [ ]:
import pandas as pd

The simplest form of Pandas is called *Series*. A series can take multiple data types unlike a numpy array. Let's create a series.

In [ ]:
s = pd.Series([1, 2.0, "3", 4.0, 5, 6.0, 7, 8.0, 9])

In [ ]:
print(s)

In [ ]:
print(type(s[0]))
print(type(s[1]))
print(type(s[2]))

A DataFrame is a two-dimensional tabular data structure. Unlike Numpy arrays, you can have labeled axes with DataFrame. Let's create a simple DataFrame using lists.

In [ ]:
animal_list = ["Dog", "Cat", "Wolf", "Tiger"]

In [ ]:
df_example = pd.DataFrame(animal_list)

In [ ]:
df_example

Let's add a label to this!

In [ ]:
df_example.columns = ["Animal"]

In [ ]:
df_example

Now let's add information about their relative sizes with a label.

In [ ]:
size_list = ["Small", "Small", "Big", "Big"]

In [ ]:
df_example["Size"] = size_list

In [ ]:
df_example

In [ ]:
df_example['Animal']

Next, we will open a CSV file about different kinds of cereals. Either np.loadtxt or pd.read_csv can be used to open a CSV file. Here we will use Pandas method since we are talking about Pandas in this section.

In [ ]:
url = "https://raw.githubusercontent.com/suhwanplee/Introduction-to-Python/student/cereal.csv"

In [ ]:
df_cereal = pd.read_csv(url)

In [ ]:
df_cereal

Woah! That's a big table. There are ways you can call only the information you are interested in using. Column labels are extremely useful for this. For example, if you just want calories data, you can simply call by using the column label 'calories' and the associated values will be called.

In [ ]:
df_cereal['calories']

## 6. **Matplotlib**

Matplotlib is the most popular method for visualization on Python and many other advanced visualization methods are built based on Matplotlib. Let's import matplotlib as plt. %matplotlib inline code allows you to visualize plots within the notebook.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

Let's create a few simple plots.

In [ ]:
plt.figure(figsize=(10,10)) # defines the plot size
x = np.linspace(0, 10, 10) # creates 10 data points between 0 and 10 
y = x
plt.plot(x, y)

How about a sine graph?

In [ ]:
plt.figure(figsize=(10,10)) # defines the plot size
x = np.linspace(0, 4*np.pi, 50) # creates 50 data points between 0 and 4 pi
y = np.sin(x)
plt.plot(x, y)

We can even plot both sine graph and cosine graph in the same plot.

In [ ]:
plt.figure(figsize=(10,10)) # defines the plot size
x = np.linspace(0, 4*np.pi, 50) # creates 50 data points between 0 and 4 pi
y1 = np.sin(x)
y2 = np.cos(x)
plt.plot(x, y1, label="Sine") # plot sine graph
plt.plot(x, y2, label="Cosine") # plot cosine graph

Now, let's visualize the cereal data by making plots! How about we look at the relationship between calories and rating first?

In [ ]:
plt.figure(figsize=(10,10)) # defines the plot size
x = df_cereal['calories'] # calories data from the DataFrame
y = df_cereal['rating'] # rating data from the DataFrame
plt.bar(x, y)

Let's add a title and labels to this plot.

In [ ]:
plt.figure(figsize=(10,10)) # defines the plot size
x = df_cereal['calories'] # calories data from the DataFrame
y = df_cereal['rating'] # rating data from the DataFrame

plt.title("The relationship between calories and rating among 80 cereals", fontsize=16)
plt.xlabel("Calories", fontsize=14)
plt.ylabel("Rating", fontsize=14)

plt.scatter(x, y)